<div class="container my-5">
  <h1>Book this <%= @gig.name%></h1>
  <%= simple_form_for [@gig, @booking] do |f| %>
    <%= f.input :date %>
    <%= f.input :time %>
    # hidden field with current_user id ?? add the column to the booking first
    <%= f.hidden :requesteer_id, current_user %>
    <%= f.submit "Book gig"%>
  <% end %>
</div>
