<div id="width-div">
  <div class="container">
    <br>
    <br>

    <div class="big-card">
      <div>
        <% t = Time.now %>
        <% if t.hour < 12 %>
          <h1>Good morning, <%= @user.first_name %></h1>
        <% elsif t.hour > 12 && t.hour < 18  %>
          <h1>Good afternoon, <%= @user.first_name %></h1>
        <% else t.hour > 12 && t.hour < 18  %>
          <h1>Good evening, <%= @user.first_name %></h1>
        <% end %>
      </div>
      <div id="container_gig_left">
          <h2>Your bookings:</h2>
            <% @user.bookings.each do |booking| %>
            <p><strong>Gig Booked: </strong><%= booking.gig.name %></p>
            <p><strong> Date: </strong><%= booking.date %></p>
            <p><strong>Time:</strong><%= booking.time %></p>
            <p><strong>Status:</strong><%= booking.status.capitalize %></p>

            <% if booking.pending? && booking.gig.user == @user %>
              <%= simple_form_for [@gig, booking] do |f| %>
                <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
                <%= f.submit 'Accept', class: 'btn btn-info' %>
              <% end %>

            <%= simple_form_for [@gig, booking] do |f| %>
              <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
              <%= f.submit 'Reject', class: 'btn btn-light' %>
            <% end %>
          <% end %>
        <% end %>

          <h2>Your Gigs:</h2>
          <% @user.gigs.each do |gig| %>
            <div class="gig">
              <p><strong>Name:</strong> <%= gig.name %></p>
              <p><strong>Description:</strong> <%= gig.description %></p>
              <%= simple_form_for [gig] do |f| %>
                <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
                <%= f.submit 'Accept', class: 'btn btn-info' %>
              <% end %>

              <%= simple_form_for gig do |f| %>
              <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
              <%= f.submit 'Reject', class: 'btn btn-light' %>
            <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
            <%# <%= link_to "Cancel Booking ", dashboard_path, class: "btn btn-danger rounded", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to cancel this booking?" } %> %>
