<div id="width-div">
  <br>
  <br>
  <div class="container">


    <div class="big-card">
      <div>
        <h2><strong><%= @gig.name %></strong></h2>
        <p><%= @gig.category%> </p>
        <p><%= @gig.description%> </p>
      </div>
        <%= link_to "Back to home page", root_path %>
        <%= link_to "Book this gig", new_gig_booking_path(@gig) %>
    </div>
  </div>
</div>

</div>
