<br>
<div id="gig_parent">
  <div id="cover_bg">

  <br>

  <div id="gig_parent">

    <h4> <strong> <%= @gig.name %> </strong></h4>
      <div class="cover_div">
      <%# commented out this image because some gigs don't have photos, therefore @gig.photo returns nil and we get a nil class error. All gigs need to have photos for the demo or we need a default photo here. i.e if @gig.photo then this line, else default photo.  %>
      <% if @gig.photo.attached? %>
        <%= cl_image_tag @gig.photo.key, class:"img-fluid img-max-height_1 img-max-width_1" %>
      <% end %>
    </div> <br>

    <div id="booking_parent">

      <div id="gig_details">
        <h2> <%= @gig.description %> </h2>
        <p> Category: <%= @gig.category %></p> <hr>

        <div id="seller_details">
          <%= image_tag @gig.user.profile_picture, class: "avatar" %>
          <div id=s_detials>
            <h6><strong> Offered by <%= @gig.user.first_name %></strong></h6>
            <p> Top Gigger  </p>
        </div>

        </div>

        <%= render partial: 'gigs/mapbox' %>

      </div>

      <div id="booking_form">
        <%= render partial: 'bookings/booking_form', locals: { gig: @gig, booking: Booking.new } %>
            <hr>
        <div id="gid_price_div">
            <p> Total </p>
            <p><strong> R500 </strong></p>
        </div>

      </div>

      </div>
        </div>


      </div>

    </div>
    </div>
  </div>
  <br>
  </div>
</div>
