<br>
<div id="gig_parent">
  <div id="cover_bg">

  <br>

  <div id="gig_parent">

    <h4> <strong> <%= @gig.name %> </strong></h4>
      <div class="cover_div">
        <%= cl_image_tag @gig.photo.key, class:"img-fluid img-max-height_1 img-max-width_1" %>

    </div> <br>

    <div id="booking_parent">

    <div id="gig_details">
      <h2> <%= @gig.description %> </h2>
      <p> Category: <%= @gig.category %></p> <hr>

      <div id="seller_details">
         <%= image_tag @gig.user.profile_picture, class: "avatar" %>
        <div id=s_detials>
          <h6><strong> Offered by <%= @gig.user.first_name %></strong></h6>
          <p> Top Gigger  </p>
       </div>

      </div>

    </div>

    <div id="below_div">

    <div id="booking_form">
      <div id="booking_input_div">
        <div class="container my-5">
         <%= simple_form_for [@gig] do |f| %>
          <%= f.input :name %>
          <%= f.submit "Book gig"%>
        <% end %>
        </div>
      </div>
      <hr>

      <div id="gid_price_div">
          <p> Total </p>
          <p><strong> R500 </strong></p>
      </div>
    </div>

   </div>
   </div>
  </div>
    <br>
</div>
</div>




<%#

<div id="width-div">
  <br>
  <br>
  <div class="container">


    <div class="big-card">
      <div>
        <h2><strong><%= @gig.name %>
        <%# <p><%= @gig.category %>
        <%# <p><%= @gig.description </p>
      </div>
        <%= link_to "Back to home page", root_path %>
        <%# <%= link_to "Book this gig", new_gig_booking_path(@gig) %>
    <%# </div>
  </div>
</div> %>
